body
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

 
body {
    background-color: rgb(215, 191, 195);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    margin: 50px;
    background: #fff;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);

}
.container .left {
    background: rgb(106, 56, 65);
    position: relative;
    padding: 40px;
}

.me {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(215, 191, 195);
}
.me .image{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}
.me .image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.me h1 {
    color: #fff;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 0.7em;
}
.me h2 {
    font-size: 1em;
    font-weight: 300;
    color: #fff;
}
.contact {
    padding-top: 40px;
}
.title {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.contact ul {
    position: relative;
}
.contact ul li 
{
    list-style: none;
    margin: 10px 0;
    
}
.contactlist {
    color: #fff;
    font-weight: 300;

}
.faculty {
    font-style: oblique;
}
.container .right {
    background: #fff;
    position: relative;
    padding: 40px;
}
.about {
    margin-bottom: 50px;
   
}
.title2 {
    color: rgb(106, 56, 65);
    letter-spacing: 1px;
    margin-bottom: 10px;

}
p{
    color: rgb(106, 56, 65);
    font-size: 1.2rem;
}
.skills {
    color:rgb(106, 56, 65);
    font-size: 2rem;
    border-color: rgb(106, 56, 65);
    border-style: solid;
    margin: 20px 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: double;
    
}
.edu {
    color:rgb(106, 56, 65);
    font-size: 1.2rem;
}
.title3 {
    color: rgb(106, 56, 65);
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
nav {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(215, 191, 195);
    font-size: 1.1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
   justify-content: space-between;
   
}
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    margin: 35px;
    text-align: center;
    list-style: none;
    font-weight: 800;
    
}
nav li {
    padding: 0px 5px;
}

a:link {
    color:rgb(106, 56, 65);
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color:rgb(215, 191, 195);
    background-color: transparent;
    text-decoration: none;
}
a:active {
    color: rgb(106, 56, 65);
    background-color: transparent;
    text-decoration: none;
}
.container footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: rgb(215, 191, 195);
    color: rgb(106, 56, 65);
   text-align: center;
   
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-around;
}
.project {
    color: rgb(106, 56, 65);
    background-color: transparent;
    text-decoration: underline;
}
.year {
    color:rgb(106, 56, 65);
    font-weight: 600;
    
}
